h1 {
	color: white;
	font-size: 3.5rem;
	margin: 0;
}

p {
	color: white;
	font-size: 1.5rem;
	margin: 0;
}

a {
	color: #FFFF00;
	font-size: 1.25rem;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: #B3B300;
}

.index-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	padding: 2rem;
}
